.course {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 98.9%;
	margin: 20px;
	overflow: hidden;
	width: 100%;
    
}

.course-web {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	margin: 20px;
	overflow: hidden;
	width: 1366px;
}

.course h6 {
	opacity: 0.6;
	margin: 0;
	letter-spacing: 1px;
	text-transform: uppercase;
}

.course h2 {
	letter-spacing: 1px;
	margin: 10px 0;
}

.course-preview {
	background-color: #ef3b2d;
	color: #fff;
	padding: 30px;
	max-width: 250px;
}

.course-preview a {
	color: #fff;
	display: inline-block;
	font-size: 12px;
	opacity: 0.6;
	margin-top: 30px;
	text-decoration: none;
}

.course-info {
	padding: 30px;
	position: relative;
	width: 100%;
}

.progress-container {
	position: absolute;
	top: 30px;
	right: 30px;
	text-align: right;
	width: 150px;
}

.progress {
	background-color: #ddd;
	border-radius: 3px;
	height: 5px;
	width: 100%;
}

.progress::after {
	border-radius: 3px;
	background-color: #2A265F;
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	height: 5px;
	width: 6%;
}

.progress-text {
	font-size: 10px;
	opacity: 0.6;
	letter-spacing: 1px;
}

.btn {
	background-color: #1a202c;
	border: 0;
	border-radius: 10px;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	color: #fff;
	font-size: 16px;
	padding: 12px 25px;
	position: absolute;
	bottom: 30px;
	right: 30px;
	letter-spacing: 1px;
    text-decoration: none;
}
a{
    text-decoration: none;
    color :white;
}
a:hover{
    color : white;
}

.act-btn1{
    background:black;
    width: 70px;
    height: 70px;

    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    top: 50%;
    bottom:30px;
    left:20px
  }
  .act-btn2{
    background:black;
    width: 70px;
    height: 70px;

    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    top: 50%;
    bottom:30px;
    right:20px
  }
  .act-btn3{
    background:black;
    width: 70px;
    height: 70px;
    text-align: center;
    color: white;
    font-size: 50px;
    font-weight: bold;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    text-decoration: none;
    transition: ease all 0.3s;
    position: fixed;
    top:130px;
    right:20px
  }
.act-btn1:hover{background: white;color:black;}
.act-btn2:hover{background: white;color:black;}
.act-btn3:hover{background: white;color:black;}

.img-nave {
    width: 50px;
    height: 50px;
	margin-left:20px;
  }